# ignores.

# apple.
.DS_Store
*.xcodeproj
*.build

.metadata



*.log
*.lo

ramp_up/

config/

# cmake.
CMakeCache.txt
CMakeFiles
CMakeLists.txt.bak
CMakeScripts
Makefile
cmake_install.cmake
*.cmake.bak
*.txt.bak
*.htm
*.sh.bak

err.txt

# binary.
game_server_runner
game_server_unittest
game_server_manager
game_server_monitor

# dir.
build_reports
build_reports_all
build
build_tools

build_scripts
build_reports_all
build_scripts_all
build_scripts_dev
build_tools_
build_toos & report
coverage_report
coverage_report.info

# eclipse.
.cproject
.project

copy.sh
do_all.sh
manager.sh
runner.sh

zoo_node_del

#log

log
log2
log3

*.vcxproj*
*.vcproj*
*.sdf
*.sln
*.suo
*.*sdf*
ipch
project
win32
target

calog

ramp_up
ramp_up_new

game_script.lua

# leak memory check
runner_leak.txt
unittest_leak.txt
cache_leak.txt


runner/run.txt
runner/confmonitor.txt


# jetbrain.
.idea

#core
core
core*

#conf
*.txt.bak


